[2016-08-22 06:05] dwmkerr opened #1 "XCode 'Contents.json' Not Update"
When building icons for xcode, we actually also need to update the `Contents.json` file.

Suggest we:

1. Move the project to JavaScript as we now have a bit more work.
2. Add unit tests against an integration test folder.
3. Generate the `Contents.json` file programatically.

[2016-08-22 06:05] dwmkerr opened #2 "Bin Folder Not Updated"
The `node_modules/.bin` folder is not updated.

[2016-09-13 16:02] dwmkerr commented on #2
Resolved in v0.2.1

[2016-09-13 16:02] #2 closed

[2016-09-13 16:02] dwmkerr commented on #1
Resolved in v0.2.1

[2016-09-13 16:02] #1 closed

[2016-09-13 16:02] dwmkerr opened #3 "Clean up structure"
Some of the basic utils should be put into a utils folder, with adjacent specs. We should have specs for the commandline tool and specs for the main functino

[2016-09-13 16:09] dwmkerr opened #4 "Exclusion of Android intermediates needs a test"
This commit:

https://github.com/dwmkerr/react-native-icon/commit/98b4e0a4225ff7f223dc4187b91d50111b0640e1

makes me a little nervous. Could there legitimately be a `/build/` in a path which will lead to interference? This should also be covered in tests.

[2016-09-13 16:29] dwmkerr opened #5 "Support configurable search roots"
Would be good to be able to specify:

[code]

For example, allowing us to refine in projects where there are lots of other libs etc.

[2016-09-15 12:15] dwmkerr opened #6 "iOS iPhone 6 Icon Blurry"
Looks like the iPhone 6 icon is blurry

[2016-10-14 16:10] dwmkerr opened #7 "Create 'top label' and 'bottom label' options"
The labelling feature of imagemagick can really easily be used to label the icon - great for builds.

[2016-10-14 16:11] dwmkerr opened #8 "Change repo name to 'app-icons'"
This code already works perfectly well for cordova apps.
- [x] Rename repo to `app-icons`
- [x] Republish on npm

[2016-10-14 16:11] dwmkerr opened #9 "Check for Ionic support"
Check for ionic and add a test

[2016-10-14 16:12] dwmkerr opened #10 "Check for Cordova Support"
Check cordova (already did a mini-test, works fine) and document support and add tests

[2016-10-14 16:13] dwmkerr commented on #5
Another case I've seen this issue - a project where android manifests are kept in disparate config folders, then the right one is pulled in as needed. In this case we get too many icons generated.

[2017-02-18 22:08] benjick opened #13 "Splash screens"
Hey, would it be possible to generate splash screens with this as well?

[2017-02-19 16:56] raldred commented on #6
It's because it's generating the wrong sizes for iphone.
If you check the build log in xcode it's got warnings.

[code]

[2017-02-25 10:27] dwmkerr commented on #13
Hi @benjick good idea! I'm in the process of testing the library against a whole bunch of projects, react native, cordova, native, xamarin etc. I'm thinking of renaming it to be more general as it actually works perfectly well with many project types. I can also look into splash screens at the same time

[2017-03-01 09:50] #6 closed

[2017-03-02 05:26] dwmkerr opened #16 "Move to Sharp for image processing"
[sharp](https://github.com/lovell/sharp) would allow us to do away with the need for image magick - however it doesn't support rendering text...

[2017-03-09 10:41] dwmkerr opened #21 "sourceIcon flag is not used"
The commandline docs indicate `sourceIcon` can be used, but it doesn't work

[2017-03-10 15:41] #8 closed

[2017-03-10 15:42] dwmkerr commented on #10
Done.

[2017-03-10 15:42] #10 closed

[2017-03-10 15:42] dwmkerr commented on #9
Done

[2017-03-10 15:42] #9 closed

[2017-03-10 15:47] dwmkerr commented on #4
There could be, so we need a way to override this if necessary

[2017-03-12 15:56] dwmkerr commented on #7
Completed with the most recent PR - #23.

[2017-03-12 15:57] dwmkerr commented on #3
done

[2017-03-12 15:57] #3 closed

[2017-04-01 10:32] dwmkerr opened #25 "Missing parameters are not resulting in errors"
Explicit example:

[code]

Seems to silently fail.

[2017-04-01 10:50] dwmkerr opened #27 "Label produces no output"
The `label` command is silent. Would be better to show some basic output.

[2017-04-03 09:12] dwmkerr opened #28 "Error incorrectly Reported"
Please see this build:

https://dashboard.buddybuild.com/apps/58b6e6ddf3eea90100b2e721/build/58e01a2931a93900012a1510#logs

Poor error output. Screenshot for reference:

![image](https://cloud.githubusercontent.com/assets/1926984/24602730/bba4c782-1890-11e7-8993-5bc6ca28556c.png)

[2017-05-17 15:49] dwmkerr commented on #21
Resolved by @morcerf in #31

[2017-05-17 15:49] #21 closed

[2017-06-01 13:51] vieraleonel opened #32 "Question: Is there an option to generate icon only for one platform?"
I would like to have different icons for Android and iOS (just for the background). Thanks. Great Work!

[2017-06-02 00:10] dwmkerr commented on #32
Hi @vieraleonel great idea! I was thinking that maybe just adding a 'platform' flag would work, so it would be two calls like this:

[code]

This means we can add one new flag, instead of potentially two (like `--icon-ios` or `--icon-android`). Would that work for you?

[2017-06-02 11:34] vieraleonel commented on #32
That would be excellent!

[2017-06-02 13:41] #7 closed

[2017-06-02 14:35] dwmkerr commented on #32
Try installing version 0.5, just published:

[code]

[2017-06-02 15:41] vieraleonel commented on #32
Working great! Just to make it perfect you should update README and **--help** option. I can make a PR this weekend if you like.

[2017-06-02 15:45] vieraleonel commented on #32
Sorry I just see **--help** option has the documentation. So only a README update

[2017-06-04 06:13] dwmkerr commented on #32
@vieraleonel good point, I totally forgot the `README`! I'll update it 👍

[2017-06-05 03:34] dwmkerr commented on #32
I think we're covered with #35 now 😄

[2017-06-05 03:36] #32 closed

[2017-06-14 13:39] jtl3d opened #37 "Windows support"
This looks like a fantastic tool, but I get this when trying to run it on windows:

[code]

I installed ImageMagick, so I think maybe convert is conflicting with a Windows command?

[2017-06-17 08:37] dwmkerr commented on #37
Hi @jtl3d, looks like an issue indeed. I will see what I can do to diagnose, but I'll need to set up a windows VM so it'll be few days.

 Quick question - have you got imagemagic installed in your `PATH`?

If you are just on a plain command prompt and type:

[code]

What is the output?

[2017-08-27 14:08] acha11 commented on #37
Hi @dwmkerr, same error here.

As @jtl3d suggested, it does look like ImageMagick's "convert" conflicts with a Windows command: on my machine, after installing ImageMagick, starting a new console window & verifying that ImageMagick's binary folder is in my PATH, `where convert` returns `C:\Windows\System32\convert.exe`.

Complicating factor: after installing ImageMagick's `ImageMagick-7.0.6-9-Q16-

[2017-08-27 14:20] acha11 commented on #37
Hi @dwmkerr, quick follow-up: I modified my local *npm\node_modules\app-icon\src\imagemagick\call-imagemagick.js* and changed line 10 from
`    childProcess.exec(command, (err, stdout, stderr) => {`
to
`    childProcess.exec('magick ' + command, (err, stdout, stderr) => {`

After that, the error which @jtl3d originally reported, and which I also encountered, didn't occur - icons were generated jus

[2017-08-28 00:24] dwmkerr commented on #37
Hi @acha11 that's awesome, thanks for sharing! I'll check the same changes work fine on MacOS X and Linux and then will update the codebase. Cheers!

[2017-08-28 04:01] acha11 commented on #37
No problem, thanks for a great library! Let me know if I can assist by testing on Windows.

[2017-09-05 14:39] sibelius opened #39 "support other flavors for android"
src/debug/res for instance

[2017-09-13 18:22] dominictracey opened #40 "iOS asset sizes incorrect"
Seems to create many of the proper file names, but the sizes are incorrect for the iOS images.xcassets. Xcode errors like:

`proj/ios/Hangboard/Images.xcassets: warning: Ambiguous Content: AppIcon.appiconset/ipad-29x29-2x.png is 29x29 but should be 58x58.
`

the 29x29-1x and 2929-2x are both 29x29.

Xcode 8.3.3
RN 0.47.1

Thanks for the otherwise great tool - Android works great!

[2017-09-19 20:50] JCMais commented on #40
They are correct here, check if you imagemagick version is updated

[2017-09-20 01:28] dwmkerr commented on #40
Hmm definitely something strange - I wonder if the scaling is not being applied properly, potentially the `-2x` on the image is not being applied, although I thought I'd tested this.

I'll add a test case to assert that an image which needs scaling is sized appropriately and we can check then, the only issue is that it'll take a week or two as I am swamped at work

[2017-09-20 01:39] dominictracey commented on #40
@JCMais imagemagick 7.0.7

@dwmkerr thanks - I worked around it for the interim.

[2017-09-22 13:28] kasperg commented on #40
I am also seeing this. Same versions of ImageMagick, XCode and React Native as @dominictracey.

[2017-09-22 14:04] kasperg commented on #40
Found out what my problem was. I used [`react-native-icon`](https://www.npmjs.com/package/react-native-icon) which only goes to 0.2.1. After switching to [`app-icon`](https://www.npmjs.com/package/app-icon) files are generated as expected. 🤦‍♂️

[2017-09-25 07:36] dwmkerr commented on #40
Oh OK cool - just to sanity check, does that mean @kasperg that for images which are `2x` scale, you get the right size (e.g. 29x29 2x comes out as 58x58?)

[2017-09-25 08:08] kasperg commented on #40
@dwmkerr Yes.

I think it would be nice to deprecate `react-native-icon` for good measure. It is still getting quite a few downloads.

[2017-09-25 08:29] dwmkerr commented on #40
Good point, I'll raise a ticket to do this, thanks mate!

[2017-09-25 08:29] dwmkerr opened #42 "Deprecate React Native Icon"
Need to deprecate react-native-icon as it still gets quite a few downloads

[2017-09-25 08:29] dwmkerr commented on #40
Raised #42

[2017-09-25 08:29] #40 closed

[2017-11-22 10:37] sgdesmet opened #44 "icon generation breaks if directory contains a space"
Paths supplied to `convert` are not escaped or quoted, which causes issues if the path contains a space

    Failed to call 'convert res/icon/universal/logo.png -resize 1024x1024 platforms/ios/Sample Project/Images.xcassets/AppIcon.appiconset/ios-marketing-1024x1024-1x.png. Error is 'Command failed: convert res/icon/universal/logo.png -resize 1024x1024 platforms/ios/Sample Project/Images.xcassets/

[2017-11-22 12:14] sgdesmet commented on #44
See pull request #45

[2017-11-23 06:48] dwmkerr commented on #44
Fixed in v0.6.3 - thanks for the help @sgdesmet!

[2017-11-23 06:48] #44 closed

[2017-12-01 10:37] fiznool commented on #13
Just weighing in here to say thanks for a fantastic library - works perfectly with React Native. A separate splashscreen package would be awesome: `app-splashscreen` is still available on npm :smile:

[2017-12-03 13:00] dwmkerr commented on #13
Seems like this could be a popular addition!

@fiznool @benjick any thoughts on what would be better, a separate CLI or a single CLI with multiple flags? I'm leaning towards separate to follow the Unix philosophy of small, focused tools, but would love your thoughts!

[2017-12-03 14:51] fiznool commented on #13
My vote would be for a separate cli, this is sufficiently different IMHO to
justify this.

[2017-12-07 20:33] nachocifu opened #46 "Missing icon sizes for react-native iOS"
-  Iphone Notification ios7-11 20pt 2x
-  Iphone Notification ios7-11 20pt 3x
-  Iphone Spotlight - 5,6 Settings - iOS 5 29pt 3x
- Iphone Spotlight - ios7-11 40pt 3x
- Iphone App iOS 7-11 60pt 3x
- Ipad Notifications iOS 7-11 20pt 1x
- Ipad Notifications iOS 7-11 20pt 2x
- iPad pro app iOS 9-11 83.5pt 2x
- App Store iOS 1024pt

[2017-12-08 04:38] dwmkerr commented on #46
Oh damn, that's a lot. Thanks for sharing, I'll look into this soon, unless you have a PR?

[2017-12-08 04:42] dwmkerr commented on #13
Sounds good, will get started when I get some quiet time!

[2017-12-08 18:18] nachocifu commented on #46
Don't have a PR, to much on my plate. Trying to fix this manually.
Another image missing according to apple is:
"Missing required icon file - The bundle does not contain an app icon for iPhone / iPod Touch of exactly '120x120' pixels, in .png format for iOS versions >= 7.0."
PS: loved the module, migrating an entire app from ionic to react and this helped big time with the icons.

[2017-12-15 09:29] punksta opened #47 "ios 1024x1024 icon should be no-transporent"
Hello! I just got rejecting of build.
![rejecting error screenshot](https://user-images.githubusercontent.com/13404754/34035562-72974b56-e193-11e7-88e8-a26e7998ae5a.png)

https://stackoverflow.com/questions/46585809/error-itms-90717-invalid-app-store-icon

[2017-12-16 15:09] dwmkerr commented on #47
Make sure your PNG doesn't contain any transparency and try again, can you let me know if it works?

[2017-12-16 15:37] punksta commented on #47
But I want use transparency for icons of other size. I removed transparency manually by image magic.

[2017-12-16 16:18] dwmkerr commented on #47
Oh I see what you mean, do you mean that you want to use a PNG with transparency, then have the tool automatically remove the transparency for images which do not support it?

[2017-12-16 16:20] punksta commented on #47
@dwmkerr yes I do. It would be cool!

[2017-12-16 17:01] dwmkerr commented on #47
OK will see what I can do!

[2018-01-05 14:58] dhruvdutt opened #48 "Doesn't work with yarn"
Doesn't add global variable `app-icon` when using

`yarn add global app-icon`

Using: `yarn 1.3.2`

[2018-01-05 16:05] sibelius commented on #48
`yarn global add app-icon`

[2018-01-05 17:15] #48 closed

[2018-01-06 05:11] #4 closed

[2018-01-06 05:40] #5 closed

[2018-01-06 05:41] dwmkerr commented on #16
Closing this for now as it doesn't seem that text support is arriving any time soon

[2018-01-06 09:25] dwmkerr opened #50 "SearchRoot is not setup properly"
Run in a debugger, the usage of `searchRoot` in `generate` appears to be incorrect. Also appears to not accept arrays.

[2018-01-06 10:49] dwmkerr commented on #13
I've started on this now:

https://github.com/dwmkerr/app-splash

I'll close this thread and it can be picked up over on the other repo now 😄

[2018-01-06 10:50] #13 closed

[2018-01-06 10:50] #16 closed

[2018-01-06 12:28] fiznool commented on #13
Do you mean

https://github.com/dwmkerr/app-splash

?

[2018-01-06 16:55] dwmkerr commented on #13
Whoops yes, fixed the comment :)

[2018-01-07 07:23] dwmkerr commented on #39
Hi @sibelius can you give a few more detail of the feature request, or link to the appropriate docs where I can find out more? Thanks!

[2018-01-07 09:54] dwmkerr commented on #37
*Note to self / potential contributors*

The challenge here is that if IM 6 is installed, then the code in `master` won't work, as the `convert` command is going to call another binary instead of image magick. This means we will need to:

1. Correctly identify the full path to `convert` (painful)
2. OR use IM 7, which uses a single `magick` binary (e.g. `magick convert xxx`)

Option 2 is probably

[2018-01-07 09:56] dwmkerr commented on #42
![image](https://user-images.githubusercontent.com/1926984/34648447-bda38598-f3cb-11e7-969f-51167819287b.png)

Done done.

[2018-01-07 09:56] #42 closed

[2018-01-10 15:17] MajorBreakfast opened #53 "Delete old cordova iOS icons"
I'm using this tool to generate my ios icons. I looked into the `AppIcon.appiconset/` directory and I see that the default cordova icon files are still in the folder after running the tool. It would be best if those files were removed, because they're no longer needed.

BTW Thanks for creating this tool!

[2018-01-18 02:36] dwmkerr commented on #53
Thanks for the note! Yes it would make sense to clean them up, but perhaps only when a flag is set, to avoid people inadvertently losing anything. Will look into this for the next release.

[2018-01-18 08:58] MajorBreakfast commented on #53
A flag is not necessarily needed. Here're two ideas:
- https://www.npmjs.com/package/trash It's an npm package that moves files into the trash instead of deleting them outright (cross plattform).
- Or (better I think): Detect whether the files are the default cordova boilerplate icons via their sha1 hash and then delete them without asking. No one needs the boilerplate icons in their app. :D

[2018-01-24 05:20] dwmkerr commented on #53
Nice ideas, will check them both out and see what I can do!

[2018-01-24 14:33] juliancorrea opened #54 "Support generate icons to specific directory"
I can't find a way to export the icons to a specific folder.
Only work if there is a react-native project.
I'd like an option to be added to generate the icons for a specific directory passed by parameter.

[2018-01-29 22:37] nkov commented on #47
+1, a good temporary workaround is to generate the icons for iOS and android separately:
`app-icon generate --platforms=ios` with the alpha channel removed from the iOS platform.

[2018-02-03 02:05] MichelDiz opened #56 ""how to" with expo?"

[2018-02-06 21:33] brunovianarezende opened #57 "Wrongly generated icons"
The icons iphone-60x60-2x.png and ipad-76x76-2x.png are generated incorrectly, they are equal to the icon iphone-60x60-1x.png and ipad-76x76-1x.png, respectively. This causes, for example, the error message:

[2018-02-10 13:31] dwmkerr commented on #57
Thanks for the heads up @brunovianarezende - do you get the error when you build or when you open xcode? Can you share the steps so I can make sure it is fixed properly? Cheers!

[2018-02-10 13:47] brunovianarezende commented on #57
Hi Dave, I got the error when I submitted to iTunes. It also appears as a
warning in Xcode. At Ubuntu, If you see the image properties you'll see the
image sizes too.

I'm travelling now, but I hope I'll get some time late next week to find a
way to programatically get the sizes and test It.

Em 10 de fev de 2018 11:31 AM, "Dave Kerr" <notifications@github.com>
escreveu:

[2018-02-10 15:06] dwmkerr commented on #57
Thanks @brunovianarezende, I'll take a look in the meantime as well!

[2018-04-13 10:59] Quadriphobs1 commented on #37
Just installed IM7 on windows and app-icon but it seems it still not working `throw err` that `Error: ImageMagick must be installed. Try:
    brew install imagemagick` and when i run `convert` from the command line I get `Must specify a file system` but when i run `magick` it actually works fine then.

To tweak it a little bit I checked into @acha11  comment `childProcess.exec('magick ' + command,

[2018-04-16 13:33] dwmkerr commented on #37
@Quadriphobs1 can you try with this branch?

[code]

I think that this actually fixes the windows issues, I just need to get the CI build running properly. If this build fixes your issue I'll release it as a patch and fix the CI issues for it separately

[2018-06-27 09:16] amestsantim commented on #46
I was going to work on this issue but then I looked at the Contents.json file for a recent app I published to the iTunes store and it is pretty much the same as the template in app-icon.
I don't think there are any missing files to generate (add to the template).

[2018-06-27 16:48] dwmkerr commented on #46
Yeah I had a look a while ago and wasn't sure which ones are missing, so I might just close this soon unless I get more questions from people.

[2018-06-27 18:40] amestsantim commented on #46
Yeah, in the meanwhile please mark the issues 'help wanted' that you think should be worked on. I have some time.

[2018-06-28 00:59] #46 closed

[2018-06-28 01:00] dwmkerr commented on #56
Hi @MichelDiz any more more details on this please?

[2018-06-28 01:39] dwmkerr commented on #46
Sure, I'll add a few now @amestsantim

[2018-06-28 14:34] MichelDiz commented on #56
It was about Expo support.

[2018-08-22 15:18] fiznool opened #60 "Support new 'adaptive' icons in Android 8+"
Android 8+ has a set of new guidelines for app icons: https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive

The general idea is that you provide an icon and a background colour. The icon has transparency, and is overlaid onto the background colour. The whole thing is then masked by the device, to produce a circle, square, rounded square, etc. To facilitate a circular ma

[2018-08-28 06:08] dwmkerr commented on #60
I think it would be great to support this, thanks for sharing! I'll take a look at it when I get a little time, probably a couple of weeks from now :)

[2018-10-15 16:50] valposv commented on #60
@dwmkerr what's the status of this issue? Is it expected to be done soon?

[2018-10-17 03:02] dwmkerr commented on #60
Hi @the-rs it'll be a couple of weeks still before I can look at this, but will be using it for a project I'm working on then so will definitely be getting onto it1

[2018-11-06 18:42] hrhosni commented on #60
Hey @dwmkerr . Just looking for an update on this issue?
Thanks!

[2018-11-12 19:06] timri commented on #50
This line https://github.com/dwmkerr/app-icon/blob/45df2e47cea1dfe0bcfdd6c9e6b0c9572aadfff1/bin/app-icon.js#L45
should instead be
[code]

[2018-11-19 08:17] dwmkerr commented on #50
Thanks @timri I will sort this one!

[2018-11-20 05:56] dwmkerr opened #63 "Fonts can break build"
We do not yet support explicitly using a font for the label. This means imagemagick relies on the system default (arial on many systems). This means that unit tests will fail, on certain systems, as they rely on external state (the default font).

PR #62 highlights the issue - the test dockerfile relies on us installing windows fonts into a linux env.

[2018-11-27 08:33] dwmkerr commented on #60
I got the Windows build and tests working which slowed me down, I can actually and finally look at this now.

One thing I'd love is a suggestion on how we manage the multiple images - should it be something like a convention to have:

[code]

Or command line flags? At the moment, here are my design goals:

1. For people _not_ using the feature, it should not interfere with them
2. For people who _

[2018-11-27 11:53] hrhosni commented on #60
Hi @dwmkerr !
Well if we can mimic whatever the tool that's built in Android Studio does, it'd be great. I'm not sure where it places the adaptive icons and what it names them but everything works great when I use it.

As for the design goals, they seem pretty comprehensive to me.

Again, thanks a lot for your efforts. They're much appreciated.

[2018-11-30 05:19] dwmkerr opened #66 "Missing `man` pages"
Need to add the `man` pages. Might be worth blogging too.

[2018-12-19 14:58] bencergazda opened #67 "iOS - `images` fields in Content.json generated in random order"
This makes unwanted changes in the `AppIcon.appiconset/Content.json` file every time after running the script, even if we're running it against the same source icon.

run # 1:
[code]

run # 2
[code]

All the contents are the same, except of that in an other order.

[2019-01-08 21:12] jnosornov commented on #37
Encountered same issues with `convert -resize`, followed the steps @acha11 mentioned, but as @Quadriphobs1 `app-icon generate` just keep failing. To solved reinstalled *imagemagick* an added the checkbox option to support legacy features as convert, and run command with administrator permissions.

![image](https://user-images.githubusercontent.com/31334379/50859061-495b0200-1360-11e9-8f0d-0e52a8dc

[2019-01-11 12:45] valposv commented on #60
Hello @dwmkerr !
I think command line flags would be more suitable rather than explicit creation. Template icons is also pretty useful feature to have. Can we expect adaptive icons support soon?
Regards. Thanks

[2019-01-15 14:51] bodtx commented on #37
Running CL as administrator under W10 works for me (with legacy utilities)

[2019-01-18 18:54] dwmkerr commented on #67
@bencergazda if you get a minute can you try using the branch `feat/order-icon-output`? I've tested and this seems to resolve the issue, but would be great if you can check too. If it works, I'll merge and cut a new release!

[2019-01-20 20:50] dwmkerr commented on #60
Yep will be pushing it in shortly!

[2019-01-21 08:43] bencergazda commented on #67
@dwmkerr Thanks for the feedback. This indeed fixes the issue!

[2019-01-21 15:45] #67 closed

[2019-01-21 15:48] dwmkerr commented on #67
Done! Published as v0.6.4 :)

[2019-02-04 22:37] valposv commented on #60
@dwmkerr hello, what's the status?

[2019-02-13 20:37] punksta commented on #50
I am having very annoying issue. I use this command
[code]
but it's trying to find all manifest files in current dir. I have CI cache under this folder.
So it's finding all manifests of every external lib and generating images for each of them. I think it is generating about 150 images.

![image](https://user-images.githubusercontent.com/13404754/52742116-1c95ac80-2fe8-11e9-93e8-98025258af9a.png)

[2019-02-14 16:08] dwmkerr commented on #50
OK definitely looks like a bug! Let me set up something similar locally and see if I can reproduce

[2019-02-16 00:28] obsidianart opened #71 "Not all icons are generated (delete icon no needed?)"
I started my project from a boilerplate (from infinte red) and I used your app like I did in the past but it didn't work on some phone.
After a lot of research I think I found the problem: *some icons are not generated*.
It is likely that they are not needed, but if present they are used, probably the script should remove those:
- /android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
- /a

[2019-02-18 05:51] #50 closed

[2019-02-18 05:55] dwmkerr commented on #50
Resolved, and released as `0.8.1`

[2019-02-18 07:35] punksta commented on #50
[dwmkerr](/dwmkerr) cool!

[2019-03-12 16:35] pie6k commented on #60
@dwmkerr any update on this?

[2019-03-23 06:56] aeirola opened #74 "SVG support"
Hey, the tool looks nice, but seems to lack support for SVG source images. I think it would be really nice to be able to only store SVG images in the code repository, and generate PNG rasters of them on build. SVG images have the benefit of being scalable to any resolution without dithering, and easy to edit by developers without having to install heavy image editing tools. Are there any plans on

[2019-03-30 18:58] greenkeeper[bot] opened #75 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.3` to `5.16.0`.

🚨 [View failing branch](https://github.com/dwmkerr/app-icon/compare/master...dwmkerr:greenkeeper%2Feslint-5.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might not

[2019-04-09 18:31] mifi commented on #74
https://github.com/lovell/sharp supports easily converting svg to png and could be used by this module. Note it is a native module.

[2019-04-10 09:02] dwmkerr commented on #74
If it wasn't for the fact that Android supports vector icons, then I'd say we should follow the Unix philosophy and let another tool do the job, e.g. `imagemagick`. But this sounds like a valid feature request so will look into it!

[2019-04-18 10:24] dwmkerr commented on #60
OK for those watching the issue, here's the progress. I'll keep the updates on this comment:

- [x] Add the `init` command, which will generate the initial icon (#77).
- [x] Update the docs to indicate we are bringing in experimental support for adaptive icons, via the forthcoming `--adaptive-icons` flag #80
- [x] Introduce the `--adaptive-icons` parameter to the `init` command, which will create

[2019-04-19 03:44] svenyonson opened #79 "Fails using cordova for osx platform"
Works excellent for iOS - thank you. I am using Cordova for my development and will be trying to build osx versions as well for testing.  When I try to build the osx version, I get these errors:
`CompileAssetCatalog build/DPP.app/Contents/Resources DPP/Images.xcassets
    cd /Users/svenyonson/github/micronets/dpp-client/platforms/osx
    /Applications/Xcode.app/Contents/Developer/usr/bin/actool --

[2019-04-20 13:10] dwmkerr commented on #79
Hi @svenyonson - let me take a look now. Quick question - is this a brand new project created with the latest version of Cordova?

[2019-04-20 14:47] svenyonson commented on #79
Yes, brand new project, Cordova version 8.0.0

[2019-04-20 15:49] dwmkerr commented on #79
I have just tested with Cordova 9 and don't get the same issue, looks like I might have to try on version 8

[2019-04-22 04:11] dwmkerr opened #82 "android: mipmap-ldpi not generated"
Looks like the Android Generate function is not generating the `mipmap-ldpi` icons.

![image](https://user-images.githubusercontent.com/1926984/56482644-b6ea0300-64f7-11e9-8af4-cf6b745a9208.png)

Note, makes sense to fix #71 at the same time.

[2019-04-22 05:16] #71 closed

[2019-04-22 05:16] #82 closed

[2019-04-22 05:37] dwmkerr commented on #71
Thanks @obsidianart! This is now resolved in version `0.10.0`, which generates the `_round` files as well, over-writing ones which will have been created by Android Studio.

[2019-04-22 06:00] dwmkerr commented on #79
Can you let me know what the output of `app-icon generate` is?

[2019-04-22 20:45] svenyonson commented on #79
Sure, I'll try to get to it in the next day or two - up against a deadline.

[2019-04-23 09:24] dwmkerr opened #84 "android: better handling of round icons"
See #71. We now generate round icons - but it might be better to support an `icon.round.png` image as a template for this, in a similar way to adaptive icon. Then:

[code]

[2019-04-23 13:22] dwmkerr opened #85 "feature: prune"
If there are icons which have _not_ been generated (such as the round icons in issue #71), then even after running `generate` the expected icon might not be shown on certain devices.

The 'prune' feature would have two parts:

**Identify Extraneous Icons**

When running `generate`, if _extra_ icons are detected (i.e. icons which have not been generated), then a warning should be shown, such as:

[

[2019-04-24 02:29] dwmkerr opened #87 "refactor: Node 8"
Node 6 reaches end of life 2019-04-30, so let's bump to 8. This will greatly simplify code as we can use `async/await`.

[2019-04-24 07:26] dwmkerr opened #88 "feature: android app store icon"
There is the `ic_launcher_web` icon which is used for the app store. We could also update this one.

https://stackoverflow.com/questions/13895390/what-does-the-ic-launcher-web-png-in-my-project-root-do

[2019-04-24 08:06] dwmkerr opened #89 "bug: 'anydpi' adaptive icons are not rendered correctly"
When generating adaptive icons, the presence of the `anydpi` folder seems to cause problems:

![image](https://user-images.githubusercontent.com/1926984/56642730-af1e9000-66aa-11e9-9431-40846bb16a3b.png)

On one device it appears the icon is zoomed in, on the other it has somehow fallen back to an image I _cannot even find in the project!_

**Reproduction Steps**

- Create a new project Android St

[2019-04-24 08:12] dwmkerr commented on #89
OK found the issue:

![image](https://user-images.githubusercontent.com/1926984/56643199-be520d80-66ab-11e9-87b3-473a671d4323.png)

The `anydpi_` folder must *not* contain image resources, the density specific mipmap folders will have their images used. The `anydpi` folder will just contain xml.

[2019-04-25 04:27] #89 closed

[2019-04-25 06:22] dwmkerr opened #91 "docs: improve banner"
Something like this would be great:

![image](https://user-images.githubusercontent.com/1926984/56713806-624bbf80-6765-11e9-9864-afb31309c778.png)

Especially if we can show:

- Labels
- Adaptive
- Android/iOS

At the same time it would be good to do a new blog post to update people on the new adaptive icon features.

[2019-04-25 06:33] tobiasbueschel opened #92 "Add changelog details to Github Releases"
Hi Dave,

As `standard-version` only updates the CHANGELOG.md file for every release but doesn't create a [Github Release](https://help.github.com/en/articles/creating-releases), I think it would be great to use something like [conventional-github-releaser](https://www.npmjs.com/package/conventional-github-releaser) to ensure all changelog details are also added to the Github release.

![image](ht

[2019-04-25 07:39] dwmkerr commented on #92
Ah yes good idea!

[2019-04-25 07:40] dwmkerr commented on #92
I will probably just make a full shift to semantic-release, will try it out for the next version

[2019-04-25 07:45] dwmkerr commented on #60
OK! Finally 😄

This took a _lot_ longer than expected to get right, and I am still not 100% sure it is perfect, but adaptive icon support is available in [v0.11.0](https://github.com/dwmkerr/app-icon/releases/tag/v0.11.0)

In short, first create some template icons:

[code]

This will create the icons you can use as your main template icons. Then spit out each size with:

[code]

At the moment, al

[2019-04-25 07:45] #60 closed

[2019-04-27 01:54] svenyonson commented on #79
Hi Dave,

I re-created the issue with a minimal configuration. Steps to reproduce:

cordova create img-test com.bangzoom.imgtest "ImageTest"
cd img-test/
cordova platform add osx
cp ../xxxxx/icon.png .
npx app-icon generate
cordova run osx

The output from app-icon generate:

npx app-icon generate
npx: installed 26 in 1.787s
Found iOS iconset: platforms/osx/ImageTest/Images.xcassets/AppIcon.appico

[2019-04-27 01:57] svenyonson commented on #79
Hmmmm, at first glance, it seems to think it is generating for ios instead of osx..

[2019-04-27 06:56] dwmkerr commented on #79
Ahah, that's most likely it. I haven't provided support for `osx`, so it's probably getting confused and thinking it is an iOS project. Let me update the issue title.

[2019-04-27 21:25] goldfire opened #100 "Using standard icons with Cordova Android 8+ defaulting to the adaptive icons"
Before cordova-android 8.0, generating the standard image icons worked fine. However, there now seems to be a default adapative icon with the cordova logo that is being used even when generating the image icons with `app-icon generate`. There correct icons are in the file, but the ic_launcher.xml files look like this:

[code]

Am I overlooking something or is app-icon not handling this correctly?

[2019-04-28 01:49] dwmkerr commented on #100
Hi - I actually provided a feature to generate adaptive icons, just
finished a few days ago. By using this, it *should* overwrite the adaptive
icons generated by Cordova. If you install the latest version, and run:

    app-icon init —adaptive-icons
    app-icon generate —adaptive-icons

Does it work? Note it is a double dash before the flag, I’m on my phone and
it’s converting it to a long dash.

[2019-05-03 10:33] dwmkerr opened #102 "refactor: early validation"
See `bin/app.icon.js`:

[code]

This is a huge smell, there is a whole set of validation/coercion logic (I think in validate.js or something), but it happens after all of this logic to check the flags, which no longer makes sense. I will raise a separate refactor ticket, but just a heads up that this is currently probably the biggest structural issue with the code.

We should also fix issues like:

[2019-05-03 10:33] dwmkerr opened #103 "refactor: improve error handling"
Might be easier to just do:

[code]

Another improvement would be to perhaps standardise the error logging a little, to make sure we print in colour, using `chalk`, and perhaps even only show the internal error message if a verbose flag like `-v` is set - but this can happen later.

It also means we could potentially simplify things with something like:

[code]

Also really I should document in th

[2019-05-03 18:11] drewcovi opened #104 "init --adaptive-icons: background/foreground swapped?"
it seems the background and foreground are swapped in the init command. unless I'm misunderstanding the intent, background should always be opaque and the foreground layer can support alpha channel.

[2019-05-03 19:21] drewcovi commented on #104
disregard, the background.png looked like a typical transparent png at first (due to the gray and white grid) turns out this was actually an intended checkerboard background, and fully opaque

[2019-05-03 19:21] #104 closed

[2019-05-04 04:04] dwmkerr commented on #104
OK no worries, thanks @drewcovi! I'm thinking about re-doing the default icon as it might be a bit confusing!

[2019-05-05 19:16] ndastur opened #105 "Doesn't seem to work for xamarin"
I have a blank new Xamarin Forms app created with VS 2019. iOS icons can be generated but for some reason don't show in the app. Droid just fails silently with no error output at all

[2019-05-06 02:29] dwmkerr commented on #105
Yikes! Installing a side-by-side 2019 instance now, will see what I can do!

[2019-05-06 19:56] ndastur commented on #105
Thanks @dwmkerr . BTW I have an old Xamarin project too and there doesn't seem to be a corresponding folder structure for that either. In Xamarin the folder is Droid/Resources/drawable[-exts]
One fix might be to be able to specifiy the root output folder and then just look for the drawable folders?

[2019-05-16 21:21] goldfire commented on #100
Sorry about the delay and thanks for the quick response! It seems to be working well using that method, thanks!

[2019-05-16 21:21] #100 closed

[2019-05-17 00:21] dwmkerr commented on #100
Great, thanks!

[2019-05-23 15:47] aeirola commented on #74
I decided to go a different route and create a separate tool for SVG-based application icons with https://github.com/aeirola/react-native-svg-app-icon which builds on the idea of Android adaptive icons to generate all icon types, including adaptive icons, from a single SVG image.

I'll go ahead and close the issue, as I personally don't have a need for SVG support myself anymore. If someone else s

[2019-05-23 15:47] #74 closed

[2019-06-18 09:57] ath0mas opened #109 "No Android icon generated if /build/ is part of app path"
no Android Manifest is found if /build/ is part of searchRoot, as the build folder rex excludes everything in this case
see https://github.com/dwmkerr/app-icon/blob/master/src/android/find-android-manifests.js

(this could be a new test case for https://github.com/dwmkerr/app-icon/blob/master/src/android/find-android-manifests.specs.js)

[2019-06-26 05:44] dwmkerr commented on #109
Hi @ath0mas can you let me know the path in your example you'd like to find? I think in general it seems that excluding the `build` intermediary folders seems to be useful, I'm trying to think of a way to keep this behaviour but still fit your use-case! It might be that if search paths are specified, we exclude nothing. This is maybe a little odd but might be the easiest way.

[2019-06-26 08:21] ath0mas commented on #109
The cordova application I create is located in `/c/workspace/cdvapps/cdvappexample/build/dev`
then I call `appIcon.generate()` from here without _searchRoot_, equivalent to running it from anywhere else with _searchRoot_ set to this same path

Detection for Android (and possibly for iOS too?) should not match on the searchRoot part of files found

[2019-06-30 08:38] dwmkerr commented on #109
Oh I see - actually then the solution should be simple, if the project is rooted at:

[code]

then the skipping of folders with 'build' in the name should *not* include the actual root folder of the project, this would solve your issue but also mean that things like:

[code]

Would still be successfully ignored!

[2019-06-30 09:18] dwmkerr commented on #109
@ath0mas Can you try using the branch `feat/better-android-build-folder-checking` and see if it resolves your issue? If so I will merge the change into master!

[2019-07-02 08:58] HaloWang opened #112 "Chinese support?"
[code]

[2019-07-03 08:06] ath0mas commented on #109
I'll try using your branch today

[2019-07-03 13:12] ath0mas commented on #109
It works fine with this branch changes 👍

---
To better understand: why AndroidManifest.xml detection can find multiple results?
I create a new Cordova project, add platform android and add plugins ; then running `generate` shows:
[code]
To me, here, the only expected result should be the 2nd: `platforms\android\app\src\main\AndroidManifest.xml...` ?

[2019-07-04 05:13] dwmkerr commented on #109
OK! I'm going to merge in the changes and release. For the manifest multiple results, I think it is because the plugins and cordova dependencies themselves _also_ have manifests, and it is difficult to consistently and programatically work out which one is the right one. This is where you'd use `--search-path` to limit to the folder you know works!

[2019-07-04 05:13] #109 closed

[2019-07-04 05:16] dwmkerr commented on #109
OK! I'm going to merge in the changes and release. For the manifest multiple results, I think it is because the plugins and cordova dependencies themselves _also_ have manifests, and it is difficult to consistently and programatically work out which one is the right one. This is where you'd use `--search-path` to limit to the folder you know works!

Published as `0.13.0`

[2019-07-04 08:10] ath0mas commented on #109
Thx @dwmkerr for the release!

I tried using `--search-path` targeting the **platforms** dir for my cordova project so that it can work well whether I add platform android or ios. For android it is better as there is no match in _plugins_, but still get `platforms\android\CordovaLib\AndroidManifest.xml` result.

Would it be possible to exclude **CordovaLib** like done for node modules and build?
`

[2019-08-08 00:53] rogueturnip opened #115 "issue with 0.13"
I've been using app-icon for a while in MS Appcenter for building.  It's running a Mac OS X (Mojave I think) with Node 10.x.  With the recent build I'm getting the following error.  If I use 0.11.0 everything works fine.

/usr/local/lib/node_modules/app-icon/bin/app-icon.js:16
const errorIfMissing = async (filePath, errorMessage) => {
                             ^

SyntaxError: Unexpected token (

[2019-08-14 12:11] dwmkerr commented on #115
That's odd - can you share the output of the below command?

[code]

Just out of curiosity?

[2019-08-15 10:55] bencergazda opened #119 "Strip metadata from generated icons"
Generating the same icon multiple times may generate different output. It looks like in this case the two files differ only in metadata, but this is annoying when files are in VCS. I recommend stripping the file metadata when resizing the image, to always generate 100% the same output.

[2019-08-26 01:52] dwmkerr commented on #119
Resolved with #120

[2019-08-26 01:52] #119 closed

[2020-02-28 12:35] cbrevik opened #128 "Own option for round icons?"
Hi, thanks for the great tool!

At the moment the tool generates files for both normal and rounded icons on Android, from `icon.png`. I'd like to generate just rounded icons from a separate icon-file. Would it be possible to enable an argument to specify whether rounded icons are generated or not?

I'd love to be able to do something like this:

[code]

[2020-03-10 16:16] wilsolutions opened #130 "SVG Adaptive icons"
Hi, I'm wondering to know if is there plan to generate the adaptive icons using SVG.

thank you

[2020-03-13 06:19] greenkeeper[bot] opened #131 "An in-range update of eslint-config-airbnb-base is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [eslint-config-airbnb-base](https://github.com/airbnb/javascript) was updated from `14.0.0` to `14.1.0`.

🚨 [View failing branch](https://github.com/dwmkerr/app-icon/com

[2020-05-26 12:48] ichingsoft opened #134 "Cannot be used on Windows 10 command line."
[code]

My magick version is:
[code]

[2020-06-20 15:28] sfratini commented on #40
FYI this still happens on `0.13.2` if the original logo is not a perfect square, although I assume imagemagik is just scaling and not "deforming" the image on purpose.

[2020-07-22 14:09] daominhsangvn commented on #134
You must install following version of magick: `ImageMagick-7.0.10-24-Q16-HDRI-x64-dll.exe` and tick "Install legacy utilities (e.g. convert)" while setup

[2020-07-26 15:18] ichingsoft commented on #134
Thank you, "Install legacy utilities (e.g. convert)" must be selected.

[2020-07-26 15:18] #134 closed

[2020-09-22 04:33] CarlitosDroid opened #135 "Not working with docker and node:11"
I'm running a node docker container with the following command line:

`docker run -it --rm -v $(pwd):/home node:11 bash`

After running
[code]
The problem is that `app-icon generate` is not generating anything. However `app-icon init` work well.

[2020-11-26 21:38] ath0mas opened #139 "Find AndroidManifests in a Cordova project should exclude CordovaLib/ dir"
Like checked in corresponding spec, finding the Cordova manifests returns the one located in CordovaLib/ in addition to the main one.

https://github.com/dwmkerr/app-icon/blob/ddd3fd23661665dfc1565e584aafaeb93b542a13/src/android/find-android-manifests.specs.js#L17-L22

Is that detection made on purpose?

To my experience, `CordovaLib/` should be excluded so that generating icons is only done for m

[2020-11-27 07:50] dwmkerr commented on #139
Yes no problems!

[2020-11-29 12:36] #139 closed

[2020-12-07 19:01] ath0mas opened #144 "Feature: Generate Notification icons for Android"
Hello here,
I recently started to work on a feature branch to add [Android Notification icons](https://material.io/design/platform-guidance/android-notifications.html) generation.

It mostly consists of a **smallIcon**, white and transparent, in 5 sizes, and an optional **largeIcon** in 1 size and no restriction on colors.
See example refs about it: [1](https://romannurik.github.io/AndroidAssetStu

[2020-12-07 21:58] ath0mas opened #145 "Feature: Replace ImageMagick with Sharp"
Maybe try to use [sharp](https://sharp.pixelplumbing.com/) instead of **ImageMagick**?

For performance and running in Node.js without requiring any additional install or runtime dependencies.

[2020-12-09 18:34] ath0mas commented on #144
Please @dwmkerr is that ok for you or any orientation to give me?
I would like to create a PR for it around next week.

[2021-11-23 19:13] heyalexchoi opened #148 "does nothing"
running `app-icon generate` does nothing on my machine. no error messages. have tried installed locally through `npx app-icon generate` as well as installed globally through `app-icon generate`. I have imagemagick installed.

node 16.13.0

[2021-11-23 19:17] heyalexchoi commented on #148
interesting. i pointed it at my xcode project with `-s` arg and it generated icons. recommend adding clarification to readme and error messages.

[2021-11-23 19:17] #148 closed

[2021-11-24 12:04] yksingh12 opened #149 "-s or --search command is not working"
Hi, Thanks for creating this awesome library.

I am not able to generate the icons by using the search (-s) command.

`app-icon generate -s ./src/Assets`

This is working if the icon.png file is present in the root directory.

Other Details:
app-icon --version 0.13.2
node -v 16.13.0
macOS 11.6

[2021-12-20 08:24] #112 closed

[2022-02-20 18:14] bastiotutuama commented on #149
+1